{% extends 'base.html.twig' %}

{% block title %}Hello LuckyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: {{ color }}; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello world - 42</h1>
    <code>Your lucky number is {{ number }}</code>
</div>
{% endblock %}
